%h1 Условиям поиска удовлетворяют следующие пользователи   

-#=raise params.inspect
.list-group
  -@users.each do |user|
    .list-group-item
      .pull-right
        =link_to add_user_path(user, data:0), class: 'btn btn-info btn-sm' do
          =fa_icon 'plus'
      %h4=user.full_name
      .text-muted=user.email  
     
     
      .clearfix 

