= link_to 'Вернуться', contact_lists_path, class: 'btn btn-default'
%h1 Редактирование контакта

= render 'form'
-usr=User.find(params[:user_id])
= link_to 'Показать', user_contact_path(usr,@contact), class: 'btn btn-default'


