.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-op: 30px;
    height: 30;
    overflow: hidden;
    width: 50%;

    margin-bottom: 12px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}