%h1
  Мои заметки
  =link_to 'Новая заметка', new_remark_path, class: 'btn btn-primary'

%body

  %row-fluid
    %container-fluid
      -if (@current_user)
        - @remarks.where("user_id = ?",@current_user.id).each do |remark|
          .col-md-4
            .thumbnail
              .container
                .col-md-12
                  %p 
                    %b Тема
                    -if remark.topic.to_s.length >23
                      =remark.topic.to_s[0..22]+"..."
                    -else
                      =remark.topic.to_s
                  %p 
                    %b Описание      
                    %br
                      -if  remark.description.to_s.length > 23
                        = remark.description.to_s[0..22]+"..."
                      -else
                        = remark.description
                  =link_to remark, class: 'btn btn-info btn-sm' do
                    =fa_icon 'eye'        
                  =link_to edit_remark_path(remark), class: 'btn btn-primary btn-sm' do
                    =fa_icon 'edit'
                  =link_to remark, method: :delete, data: {confirm: "Вы уверены?"}, class: 'btn btn-danger btn-sm' do
                    =fa_icon 'trash-o'    
                    
                    




