= link_to 'Вернуться', places_path, class: 'btn btn-default'
%br
  %br
    %p
      %b Название:
      = @place.name
    %p
      %b Адрес:
      = @place.address
    %p
      %b Описание:
      = @place.description

-#= link_to 'Редактировать', edit_place_path(@place), class: 'btn btn-default'
  \|

